<a href="https://colab.research.google.com/github/yusufbek-murodov/pandas-lessons/blob/main/Guruhlash_cut()_va_qcut().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', usecols=['country','pop2021','area'], index_col='country')
df.head()

           pop2021   area
country
Macau      658.394     30
Monaco      39.511      2
Burundi  12255.433  27834
Macau      658.394     30
Monaco      39.511      2

In [6]:
df.drop_duplicates(inplace=True)
df

                    pop2021     area
country
Macau               658.394       30
Monaco               39.511        2
Burundi           12255.433    27834
Singapore          5896.686      710
Hong Kong          7552.810     1104
...                     ...      ...
Namibia            2587.344   825615
Western Sahara      611.875   266000
Mongolia           3329.289  1564110
Falkland Islands      3.533    12173
Greenland            56.877  2166086

[232 rows x 2 columns]

In [7]:
df.sort_index(inplace=True)

In [8]:
df.head()

                  pop2021     area
country
Afghanistan     39835.428   652230
Albania          2872.933    28748
Algeria         44616.624  2381741
American Samoa     55.100      199
Andorra            77.355      468

In [9]:
df.loc['China']

pop2021    1444216.107
area       9706961.000
Name: China, dtype: float64

In [11]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [12]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [13]:
population = df.pop2021

In [14]:
population.head()

country
Afghanistan       39835.428
Albania            2872.933
Algeria           44616.624
American Samoa       55.100
Andorra              77.355
Name: pop2021, dtype: float64

In [15]:
oraliq = pd.cut(population, bins)

In [16]:
oraliq

country
Afghanistan          (30000, 50000]
Albania               (1000, 10000]
Algeria              (30000, 50000]
American Samoa            (0, 1000]
Andorra                   (0, 1000]
                          ...
Wallis and Futuna         (0, 1000]
Western Sahara            (0, 1000]
Yemen                (30000, 50000]
Zambia               (10000, 30000]
Zimbabwe             (10000, 30000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [17]:
oraliq.value_counts()

pop2021
(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: count, dtype: int64

In [18]:
df['popBins'] = oraliq

In [19]:
df.head()

                  pop2021     area         popBins
country
Afghanistan     39835.428   652230  (30000, 50000]
Albania          2872.933    28748   (1000, 10000]
Algeria         44616.624  2381741  (30000, 50000]
American Samoa     55.100      199       (0, 1000]
Andorra            77.355      468       (0, 1000]

In [20]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [21]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [22]:
bins = [0, 10000, 20000, 50000]

In [23]:
range = pd.cut(df.price, bins)

In [24]:
range

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [25]:
range.value_counts()

price
(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: count, dtype: int64

In [26]:
groups = ["arzon", "o'rta", "qimmat"]
range = pd.cut(df.price, bins, labels=groups)
range.value_counts()

price
arzon     28
o'rta     17
qimmat    13
Name: count, dtype: int64

In [27]:
df['guruh'] = range

In [28]:
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,guruh
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,o'rta
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,o'rta
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,o'rta
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,o'rta
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,o'rta

In [29]:
range = pd.cut(df.price, 3)
range.value_counts()

price
(5110.751, 18567.333]     44
(31983.667, 45400.0]       9
(18567.333, 31983.667]     5
Name: count, dtype: int64

In [30]:
range = pd.cut(df.price, 4)
range.value_counts()

price
(5110.751, 15213.25]    36
(15213.25, 25275.5]     10
(35337.75, 45400.0]      7
(25275.5, 35337.75]      5
Name: count, dtype: int64

In [31]:
range = pd.qcut(df.price, 3)
range.value_counts()

price
(16430.0, 45400.0]    20
(5150.999, 7295.0]    19
(7295.0, 16430.0]     19
Name: count, dtype: int64

In [32]:
range = pd.qcut(df.horsepower, 3)
range.value_counts()

horsepower
(47.999, 70.0]    24
(111.0, 288.0]    20
(70.0, 111.0]     17
Name: count, dtype: int64